<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ensys.qray.web.reviews.reviewsMapper">

    <select id="reviewsHeader" resultType="hashmap" parameterType="hashmap" statementType="CALLABLE">
        /*reviewsMapper.reviewsHeader*/

        SELECT
        A.COMPANY_CD  	    AS "COMPANY_CD"
        , A.PARTNER_CD  	AS "PARTNER_CD"
        , A.PARTNER_NM  	AS "PARTNER_NM"
        , A.COMPANY_NO  	AS "COMPANY_NO"
        , A.CEO_NM  		AS "CEO_NM"
        , A.JOB_FIELD  	    AS "JOB_FIELD"
        , F_ES_CATEGORY_NM(A.COMPANY_CD, A.JOB_FIELD) AS "JOB_FIELD_NM"
        , A.JOB_EP  		AS "JOB_EP"
        , F_ES_CATEGORY_NM(A.COMPANY_CD, A.JOB_EP) AS "JOB_EP_NM"
        , A.KAKAOTALK  	    AS "KAKAOTALK"
        FROM ES_PARTNER A
        WHERE A.COMPANY_CD = #{COMPANY_CD}
        <if test=' KEYWORD != null and KEYWORD != ""'>
            AND
            (  A.PARTNER_CD LIKE  '%' || #{KEYWORD} || '%'
            OR A.PARTNER_NM LIKE  '%' || #{KEYWORD} || '%'
            )
        </if>
        <if test=' PARTNER_CD != null and PARTNER_CD != ""'>
            AND	A.PARTNER_CD = #{PARTNER_CD}
        </if>


    </select>

    <select id="reviewsDetail" resultType="hashmap" parameterType="hashmap" statementType="CALLABLE">
        /*reviewsMapper.reviewsDetail*/

        SELECT 	A.COMPANY_CD    AS "COMPANY_CD"
             ,	A.PARTNER_CD    AS "PARTNER_CD"
             ,	A.NAME          AS "NAME"
             ,	A.IP            AS "IP"
             ,	A.KAKAO_ID      AS "KAKAO_ID"
             ,	A.SEQ           AS "SEQ"
             ,	A.WRITE_DT      AS "WRITE_DT"
             ,	A.STAR_SCORE    AS "STAR_SCORE"
             ,	A.RMK_DC        AS "RMK_DC"
             ,	A.INSERT_ID     AS "INSERT_ID"
             ,	A.INSERT_DTS    AS "INSERT_DTS"
             ,	A.UPDATE_ID     AS "UPDATE_ID"
             ,	A.UPDATE_DTS    AS "UPDATE_DTS"
        FROM ES_REVIEW_WRITE A
        WHERE A.COMPANY_CD  = #{COMPANY_CD}
    </select>

<!--    <insert id="reviewsHcreated" parameterType="hashmap" statementType="CALLABLE">-->
<!--        /*reviewsMapper.reviewsHcreated*/-->
<!--        INSERT INTO ES_BLURB_PKG_M-->
<!--        (-->
<!--            COMPANY_CD-->
<!--        , PKG_CD-->
<!--        , PKG_NM-->
<!--        , USE_YN-->
<!--        , CREATE_DT-->
<!--        , INSERT_ID-->
<!--        , INSERT_DTS-->
<!--        , UPDATE_ID-->
<!--        , UPDATE_DTS-->
<!--        )-->
<!--        VALUES-->
<!--            (-->
<!--                #{COMPANY_CD}-->
<!--            , #{PKG_CD}-->
<!--            , #{PKG_NM}-->
<!--            , #{USE_YN}-->
<!--            , #{CREATE_DT}-->
<!--            , #{INSERT_ID}-->
<!--            , #{INSERT_DTS}-->
<!--            , #{UPDATE_ID}-->
<!--            , #{UPDATE_DTS}-->
<!--            )-->

<!--    </insert>-->

    <insert id="reviewsDcreated" parameterType="hashmap" statementType="CALLABLE">
        /*reviewsMapper.reviewsDcreated*/
        INSERT INTO ES_REVIEW_WRITE
        (
            COMPANY_CD
        ,	PARTNER_CD
        ,	NAME
        ,	IP
        ,	KAKAO_ID
        ,	SEQ
        ,	WRITE_DT
        ,	STAR_SCORE
        ,	RMK_DC
        ,	INSERT_ID
        ,	INSERT_DTS
        ,	UPDATE_ID
        ,	UPDATE_DTS
        )
        VALUES
        (
            #{COMPANY_CD}
        ,   #{PARTNER_CD}
        ,   #{NAME}
        ,   #{IP}
        ,   #{KAKAO_ID}
        , (
            SELECT COALESCE(MAX(SEQ), 0) + 1
            FROM ES_REVIEW_WRITE
            WHERE COMPANY_CD = #{COMPANY_CD}
            AND PARTNER_CD = #{PARTNER_CD}
            AND NAME = #{NAME}
            AND NAME = #{IP}
            AND NAME = #{KAKAO_ID}
           )
        ,   #{WRITE_DT}
        ,   #{STAR_SCORE}
        ,   #{RMK_DC}
        ,   #{INSERT_ID}
        ,   #{INSERT_DTS}
        ,   #{UPDATE_ID}
        ,   #{UPDATE_DTS}
        )
    </insert>

<!--    <update id="reviewsHupdated" parameterType="hashmap" statementType="CALLABLE">-->
<!--        /*reviewsMapper.reviewsHupdated*/-->
<!--        UPDATE ES_BLURB_PKG_M-->
<!--        SET USE_YN = #{USE_YN}-->
<!--          ,	PKG_NM = #{PKG_NM}-->
<!--          ,	UPDATE_ID = #{UPDATE_ID}-->
<!--          ,	UPDATE_DTS = #{UPDATE_DTS}-->
<!--        WHERE COMPANY_CD = #{COMPANY_CD}-->
<!--          AND   PKG_CD = #{PKG_CD}-->
<!--    </update>-->

    <update id="reviewsDupdated" parameterType="hashmap" statementType="CALLABLE">
        /*reviewsMapper.reviewsDupdated*/
        UPDATE ES_REVIEW_WRITE
        SET WRITE_DT = #{WRITE_DT}
          ,	STAR_SCORE = #{STAR_SCORE}
          ,	RMK_DC = #{RMK_DC}
          ,	UPDATE_ID = #{UPDATE_ID}
          ,	UPDATE_DTS = #{UPDATE_DTS}
        WHERE COMPANY_CD = #{COMPANY_CD}
          AND   PARTNER_CD = #{PARTNER_CD}
          AND   NAME = #{NAME}
          AND   IP = #{IP}
          AND   KAKAO_ID = #{KAKAO_ID}
          AND   SEQ = #{SEQ}
    </update>

<!--    <delete id="reviewsHdeleted" parameterType="hashmap" statementType="CALLABLE">-->
<!--        /*reviewsapper.reviewsHdeleted*/-->
<!--        DELETE FROM ES_BLURB_PKG_M-->
<!--        WHERE COMPANY_CD = #{COMPANY_CD}-->
<!--          AND   PKG_CD = #{PKG_CD}-->
<!--    </delete>-->

    <delete id="reviewsDdeleted" parameterType="hashmap" statementType="CALLABLE">
        /*reviewsMapper.reviewsDdeleted*/
        DELETE FROM ES_REVIEW_WRITE
        WHERE COMPANY_CD = #{COMPANY_CD}
          AND   PARTNER_CD = #{PARTNER_CD}
          AND   NAME = #{NAME}
          AND   IP = #{IP}
          AND   KAKAO_ID = #{KAKAO_ID}
          AND   SEQ = #{SEQ}
    </delete>

</mapper>