<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ensys.qray.web.v2.dm.V2DmMapper">

    <select id="listCount" resultType="int" parameterType="hashmap">
        /*V2DmMapper.listCount*/
        SELECT COUNT(*)
        FROM PL_DM_COMM
    </select>

    <select id="list" resultType="hashmap" parameterType="hashmap">
        /*V2DmMapper.list*/
        SELECT    DM_CD AS "SEQ"
                , F_NVL_TEXT(SUBSTRING(DM_CONTENTS, 1, 50), COMP_NM) AS "TITLE"
                , ROW_NUMBER() OVER (ORDER BY INSERT_DATE) AS "COMM_NUM"
                , SUBSTRING(COMP_NM, 1, 1) || 'OO' AS "NAME"
                , TO_CHAR(SUBSTRING(INSERT_DATE, 1, 8)::DATE, 'YYYY-MM-DD HH:DD') AS "DTS"
                , (SELECT COUNT(*) FROM PL_DM_COMM WHERE DM_CD = A.DM_CD) AS "COMM_CUT"
                , CASE WHEN coalesce(HIT, 0) BETWEEN 0 AND 999 THEN coalesce(HIT, 0)::VARCHAR ELSE '999↑' END AS "HIT"
                , CASE WHEN CURRENT_DATE - TO_DATE(SUBSTRING(REPLACE(INSERT_DATE, '-', ''), 1, 8), 'YYYYMMDD') > F_NVL_NUM(B.SYSDEF_CD::INTEGER, 7) THEN 'N' ELSE 'Y' END AS "NEW_VALUE"
        FROM PL_DM_M A
        LEFT JOIN (SELECT SYSDEF_CD FROM ES_CODEDTL WHERE FIELD_CD = 'ES_Q0141' AND FLAG1_CD = 'Y' LIMIT 1) B
            ON 1 = 1
        ORDER BY INSERT_DATE DESC
        LIMIT 15 OFFSET (#{CURRENT_PAGE}::INTEGER - 1) * 15
    </select>

</mapper>