<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ensys.qray.web.v2.board.V2BoardMapper">

    <select id="list" resultType="hashmap" parameterType="hashmap">
        /*V2BoardMapper.list*/
        SELECT COMPANY_CD AS "COMPANY_CD"
             , BOARD_TYPE AS "BOARD_TYPE"
             , SEQ AS "SEQ"
             , TITLE AS "TITLE"
             , CONTENTS AS "CONTENTS"
             , ROW_NUMBER() OVER () AS "COMM_NUM"
             , F_ES_CODE_DETAIL(COMPANY_CD, 'ES_Q0143', BOARD_ST) AS "BOARD_ST_NM"
             , BOARD_ST AS "BOARD_ST"
             , MAIN_YN AS "MAIN_YN"
             , INSERT_ID AS "INSERT_ID"
             , INSERT_DTS AS "INSERT_DTS"
             , UPDATE_ID AS "UPDATE_ID"
             , UPDATE_DTS AS "UPDATE_DTS"
             , TO_CHAR(SUBSTRING(INSERT_DTS, 1, 8)::date, 'YYYY-MM-DD') AS "DTS"
        FROM ES_BOARD
        WHERE COMPANY_CD = #{COMPANY_CD}
        AND BOARD_TYPE = #{BOARD_TYPE}
        ORDER BY CASE WHEN MAIN_YN = 'Y' THEN 1 ELSE 2 END, INSERT_DTS DESC, SEQ DESC
    </select>
</mapper>