<?xml version="1.0" encoding="UTF-8"?>
<included>

    <property name="server.name" value="localhost"/>

    <logger name="com.mangofactory.swagger">
        <level value="OFF" />
    </logger>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <filter class="com.ensys.qray.setting.logging.SqlNotLogFilter" />

        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %c:%M:%L %m%n</Pattern>
        </encoder>
    </appender>

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>qrayLog/qrayLog.%d{yyyyMMdd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %thread %-5level %logger - %m%n
            </Pattern>
        </encoder>
    </appender>






</included>
