<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ensys.qray.web.v1.dashboard.DashboardMapper">

    <select id="selectInfo" resultType="hashmap" parameterType="hashmap" statementType="CALLABLE">
        /*DashboardMapper.selectInfo*/
        SELECT    KAKAO     AS "KAKAO"
                , KAKAO2     AS "KAKAO2"
                , TELEGRAM  AS "TELEGRAM"
                , TELEGRAM2  AS "TELEGRAM2"
                , EMAIL     AS "EMAIL"
                , EMAIL     AS "EMAIL"
                , TEL_NO    AS "TEL_NO"
        FROM ES_COMPANY
        WHERE COMPANY_CD = #{COMPANY_CD}
    </select>

    <insert id="infoSave" parameterType="hashmap" statementType="CALLABLE">
        /*DashboardMapper.infoSave*/
        INSERT INTO ES_COMPANY
        (
          KAKAO
        , KAKAO2
        , TELEGRAM
        , TELEGRAM2
        , EMAIL
        , TEL_NO
        , COMPANY_CD
        , COMPANY_NM
        )
        VALUES
       (
          #{KAKAO}
        , #{KAKAO2}
        , #{TELEGRAM}
        , #{TELEGRAM2}
        , #{EMAIL}
        , #{TEL_NO}
        , #{COMPANY_CD}
        , #{COMPANY_NM}
        )  ON CONFLICT (COMPANY_CD) DO UPDATE SET
            KAKAO = #{KAKAO}
          , KAKAO2 = #{KAKAO2}
          , TELEGRAM = #{TELEGRAM}
          , TELEGRAM2 = #{TELEGRAM2}
          , EMAIL = #{EMAIL}
          , TEL_NO = #{TEL_NO}
	</insert>

</mapper>