<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ensys.qray.web.category.categoryMapper">

    <select id="select" resultType="hashmap" parameterType="hashmap" statementType="CALLABLE">
        /*categoryMapper.select*/
        SELECT    A.COMPANY_CD AS "COMPANY_CD"
                , A.CATEGORY_CD AS "CATEGORY_CD"
                , A.CATEGORY_NM AS "CATEGORY_NM"
                , A.CATEGORY_ICON AS "CATEGORY_ICON"
                , A.PARENT_CD AS "PARENT_CD"
                , A.USE_YN AS "USE_YN"
        FROM ES_CATEGORY A
        WHERE A.COMPANY_CD = #{COMPANY_CD}
        AND A.PARENT_CD = #{PARENT_CD}
    </select>

    <insert id="created" parameterType="hashmap" statementType="CALLABLE">
        /*categoryMapper.created*/
        INSERT INTO ES_CATEGORY
        (
              COMPANY_CD
            , CATEGORY_CD
            , CATEGORY_NM
            , PARENT_CD
            , USE_YN
            , CATEGORY_ICON
            , INSERT_ID
            , INSERT_DTS
            , UPDATE_ID
            , UPDATE_DTS
        )
        VALUES
            (
              #{COMPANY_CD}
            , (SELECT (COALESCE(MAX(CATEGORY_CD::INT), 0) + 1)::VARCHAR(100)
               FROM ES_CATEGORY
               WHERE COMPANY_CD = #{COMPANY_CD}
               )
            , #{CATEGORY_NM}
            , #{PARENT_CD}
            , #{USE_YN}
            , #{CATEGORY_ICON}
            , #{INSERT_ID}
            , #{INSERT_DTS}
            , #{UPDATE_ID}
            , #{UPDATE_DTS}
            )
    </insert>

    <update id="updated" parameterType="hashmap" statementType="CALLABLE">
        UPDATE ES_CATEGORY
        SET CATEGORY_NM  =   #{CATEGORY_NM}
          ,	USE_YN  =   #{USE_YN}
          ,	CATEGORY_ICON  =   #{CATEGORY_ICON}
          ,	UPDATE_ID  =   #{UPDATE_ID}
          ,	UPDATE_DTS =   #{UPDATE_DTS}
        WHERE COMPANY_CD = #{COMPANY_CD}
          AND  CATEGORY_CD = #{CATEGORY_CD}
    </update>

    <delete id="deleted" parameterType="hashmap" statementType="CALLABLE">
        DELETE FROM ES_CATEGORY
        WHERE COMPANY_CD = #{COMPANY_CD}
          AND  CATEGORY_CD = #{CATEGORY_CD}
    </delete>

</mapper>