<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ensys.qray.commonHelp.CommonHelpMapper">
    
    <select id="HELP_CUSTOMER" parameterType="hashmap" resultType="hashmap" statementType="CALLABLE">
		/*CommonHelpMapper.HELP_CUSTOMER*/
        SELECT A.CUSTOMER_CD            AS "CUSTOMER_CD" 
			 , A.CUSTOMER_NM            AS "CUSTOMER_NM"
			 , A.LICENSE_KEY            AS "LICENSE_KEY"
			 , A.COMPANY_NO             AS "COMPANY_NO"
			 , A.CUSTOMER_MANAGER       AS "CUSTOMER_MANAGER"
			 , A.HP_NO                  AS "HP_NO"
			 , A.TEL_NO                 AS "TEL_NO"
			 , A.POST_NO                AS "POST_NO"
			 , A.CUSTOMER_ADDRESS1      AS "CUSTOMER_ADDRESS1"
			 , A.CUSTOMER_ADDRESS2      AS "CUSTOMER_ADDRESS2"
			 , A.CUSTOMER_EMAIL         AS "CUSTOMER_EMAIL"
			 , A.PROGRESS_YN            AS "PROGRESS_YN"
			 , A.ISSUE                  AS "ISSUE" 
		FROM   ES_CUSTOMER_M A
		WHERE  1 = 1
        <if test='KEYWORD != null and KEYWORD != ""'>
        AND    (
				   A.CUSTOMER_CD    LIKE  '%' || #{KEYWORD} || '%'
				OR A.CUSTOMER_NM    LIKE  '%' || #{KEYWORD} || '%'
        	   )
        </if>
    </select>

    <select id="HELP_USER" resultType="hashmap" parameterType="hashmap" statementType="CALLABLE">
		/*CommonHelpMapper.HELP_USER*/
		SELECT 	  A.COMPANY_CD		AS "COMPANY_CD"
				, A.USER_ID   		AS "USER_ID"
				, A.USER_NM   		AS "USER_NM"
				, A.USE_YN    		AS "USE_YN"
		FROM ES_USER A
		WHERE A.COMPANY_CD = #{COMPANY_CD}
		  AND A.USER_NM LIKE '%'|| #{KEYWORD} ||'%'
		  AND A.USE_YN = 'Y'
		ORDER BY A.INSERT_DTS DESC
    </select>

    <select id="HELP_AUTHGROUP" resultType="hashmap" parameterType="hashmap" statementType="CALLABLE">
		/*CommonHelpMapper.HELP_AUTHGROUP*/
        SELECT
              GROUP_CD
			, GROUP_NM
		FROM ES_GROUP_M 
		WHERE 1=1 
		AND COMPANY_CD = #{COMPANY_CD}
		AND	GROUP_CD   != 'WEB00'
		ORDER BY GROUP_CD
    </select>

    <select id="HELP_DEPT" resultType="hashmap" parameterType="hashmap" statementType="CALLABLE">
		/*CommonHelpMapper.HELP_DEPT*/
		SELECT 
			   A.COMPANY_CD     AS "COMPANY_CD"
			 , A.DEPT_CD        AS "DEPT_CD"
			 , A.DEPT_NM        AS "DEPT_NM"
			 , A.DEPT_PARENT    AS "DEPT_PARENT"
			 , A.DEPT_LEVEL     AS "DEPT_LEVEL"
		FROM   ES_DEPT    A
		WHERE  A.COMPANY_CD = #{COMPANY_CD}
		<if test=' KEYWORD != null and KEYWORD != ""'>
		AND    
			(  A.DEPT_CD LIKE  '%' || #{KEYWORD} || '%'
			OR A.DEPT_NM LIKE  '%' || #{KEYWORD} || '%'
			)
		</if>
		<if test = ' SEARCH_AUTH == null or SEARCH_AUTH != "A" '>
			AND    (
			A.DEPT_CD    = #{LOGIN_DEPT_CD}
			OR A.DEPT_CD IN
			(
				WITH RECURSIVE USER_ROLELIST(COMPANY_CD, DEPT_CD, OPTION, SYSDEF_CD) AS
				(
					WITH TBL1 AS
						(
							SELECT  SYS.COMPANY_CD       AS COMPANY_CD
								   ,#{LOGIN_DEPT_CD}     AS DEPT_CD
								   ,'Y' ::VARCHAR		 AS OPTION
								   ,SYS.SYSDEF_CD        AS SYSDEF_CD
								   ,'005' ::VARCHAR		 AS PERMISSIONS
							 FROM   ES_SYSTEM SYS
							WHERE   SYS.COMPANY_CD      = #{COMPANY_CD}
							  AND   SYS.FIELD_CD	    = 'ES_Q0133'
						),
					TBL2 AS
						(
							SELECT   A.COMPANY_CD		 AS COMPANY_CD
									,A.DEPT_CD::VARCHAR  AS DEPT_CD
									,A.OPTION            AS OPTION
									,SYS.SYSDEF_CD       AS SYSDEF_CD
									,A.PERMISSIONS 		AS PERMISSIONS
							 FROM   ES_DEPT_CONNECT_USER A
						LEFT JOIN   ES_SYSTEM SYS
							   ON   A.COMPANY_CD       = SYS.COMPANY_CD
							  AND   SYS.FIELD_CD       = 'ES_Q0133'
							WHERE   A.COMPANY_CD       = #{COMPANY_CD}
							  AND   A.USER_ID          = #{LOGIN_USER_ID}
							  AND   A.DEPT_CD         != #{LOGIN_DEPT_CD}
						)
					SELECT  COMPANY_CD AS COMPANY_CD, DEPT_CD AS DEPT_CD, OPTION AS "OPTION", SYSDEF_CD AS SYSDEF_CD, PERMISSIONS AS PERMISSIONS  FROM TBL1
					UNION
					SELECT  COMPANY_CD AS COMPANY_CD, DEPT_CD AS DEPT_CD, OPTION AS "OPTION", SYSDEF_CD AS SYSDEF_CD, PERMISSIONS AS PERMISSIONS  FROM TBL2
					UNION ALL
					SELECT	    A.COMPANY_CD     AS COMPANY_CD
							   ,B.DEPT_CD        AS DEPT_CD
							   ,A.OPTION		 AS OPTION
							   ,SYS.SYSDEF_CD    AS SYSDEF_CD
							   ,A.PERMISSIONS 	 AS PERMISSIONS
					FROM        USER_ROLELIST A
					INNER JOIN  ES_DEPT B
					ON     		A.COMPANY_CD    = B.COMPANY_CD
					AND    		A.DEPT_CD       = B.DEPT_PARENT
					LEFT JOIN   ES_SYSTEM SYS
					ON 	   		A. COMPANY_CD   =  SYS.COMPANY_CD
					AND   		SYS.FIELD_CD    = 'ES_Q0133'
					WHERE  		SYS.SYSDEF_CD   = '01'
					AND         A.OPTION 		= 'Y'
				)
				SELECT DEPT_CD AS "DEPT_CD" FROM USER_ROLELIST WHERE PERMISSIONS IN (COALESCE(#{PERMISSIONS}, '001'), '005')  ORDER BY DEPT_CD
			)
			<if test = " DEPT_CD != null and !DEPT_CD.get(0).equals('') and DEPT_CD.size() > 0 ">
				OR A.DEPT_CD IN
				<foreach collection="DEPT_CD" item="item"  open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			)
		</if>
		ORDER BY A.DEPT_CD
	</select>
	
	<select id="HELP_BANK" resultType="hashmap" parameterType="hashmap" statementType="CALLABLE">
		/*CommonHelpMapper.HELP_BANK*/
		SELECT 
			   A.COMPANY_CD       AS "COMPANY_CD"
			 , A.SYSDEF_CD        AS "BANK_CD"
			 , A.SYSDEF_NM        AS "BANK_NM"
		FROM   ES_CODEDTL    A
		WHERE  A.COMPANY_CD = #{COMPANY_CD}
		AND FIELD_CD = 'ES_Q0009'
		<if test=' KEYWORD != null and KEYWORD != ""'>
		AND    
			(  A.SYSDEF_CD LIKE  '%' || #{KEYWORD} || '%'
			OR A.SYSDEF_NM LIKE  '%' || #{KEYWORD} || '%'
			)
		</if>
	</select>
    
    <select id="HELP_BIZAREA" resultType="hashmap" parameterType="hashmap" statementType="CALLABLE">
		/*CommonHelpMapper.HELP_BIZAREA*/
      	SELECT
			  BIZAREA_CD	AS "BIZAREA_CD"
         	, BIZAREA_NM	AS "BIZAREA_NM"
         	, BIZAREA_NO	AS "BIZAREA_NO"
	    FROM  ES_BIZAREA A
	    WHERE 1=1
	    AND   A.COMPANY_CD = #{COMPANY_CD}
	    <if test = "KEYWORD != null and KEYWORD != ''">
		AND   (
					A.BIZAREA_CD LIKE '%'|| #{KEYWORD} ||'%'
				OR  A.BIZAREA_NM LIKE '%'|| #{KEYWORD} ||'%'
				OR  A.BIZAREA_NO  LIKE '%'|| #{KEYWORD} ||'%'
			  )
    	</if>
    </select>

    <select id="HELP_CODE" resultType="hashmap" parameterType="hashmap" statementType="CALLABLE">
		/*CommonHelpMapper.HELP_CODE*/
	    SELECT
	          A.FIELD_CD    AS "FIELD_CD"   
	        , A.SYSDEF_CD   AS "SYSDEF_CD"  
	        , A.SYSDEF_NM   AS "SYSDEF_NM"  
	        , A.SYSCODE_FG1 AS "SYSCODE_FG1"
	        , A.USE_YN      AS "USE_YN"     
	    FROM  ES_CODEDTL A              
	    WHERE A.COMPANY_CD = #{COMPANY_CD}              
	    AND   A.FIELD_CD   = #{FIELD_CD}
		<if test=' KEYWORD != null and KEYWORD != ""'>
			AND
			(  A.SYSDEF_CD LIKE  '%' || #{KEYWORD} || '%'
			OR A.SYSDEF_NM LIKE  '%' || #{KEYWORD} || '%'
			)
		</if>
		ORDER BY A.SYSDEF_CD
    </select>

	<select id="HELP_CODEDTL" resultType="hashmap" parameterType="hashmap" statementType="CALLABLE">
		/*CommonHelpMapper.HELP_CODEDTL*/
		SELECT  A.COMPANY_CD  AS "COMPANY_CD"
			 , A.SYSDEF_CD   AS "SYSDEF_CD"
			 , A.SYSDEF_NM   AS "SYSDEF_NM"
			 , A.FLAG1_CD    AS "FLAG1_CD"
			 , A.FLAG2_CD    AS "FLAG2_CD"
			 , A.FLAG3_CD    AS "FLAG3_CD"
			 , A.FLAG4_CD    AS "FLAG4_CD"
		FROM   ES_CODEDTL    A
		WHERE  A.COMPANY_CD = #{COMPANY_CD}
		AND    A.FIELD_CD   = #{FIELD_CD}
		AND    A.USE_YN = 'Y'
		<if test = " FLAG1_CD != null and FLAG1_CD != '' ">
		AND    A.FLAG1_CD = #{FLAG1_CD}
		</if>
		<if test = " FLAG2_CD != null and FLAG2_CD != '' ">
		AND    A.FLAG2_CD = #{FLAG2_CD}
		</if>
		<if test = " FLAG3_CD != null and FLAG3_CD != '' ">
		AND    A.FLAG3_CD = #{FLAG3_CD}
		</if>
		<if test = " FLAG4_CD != null and FLAG4_CD != '' ">
		AND    A.FLAG4_CD = #{FLAG4_CD}
		</if>
		<if test=' KEYWORD != null and KEYWORD != ""'>
		AND    
			(  A.SYSDEF_CD LIKE  '%' || #{KEYWORD} || '%'
			OR A.SYSDEF_NM LIKE  '%' || #{KEYWORD} || '%'
			)
		</if>
	</select>

	<select id="HELP_BLURB" resultType="hashmap" parameterType="hashmap" statementType="CALLABLE">
		/*CommonHelpMapper.HELP_BLURB*/
		SELECT
				  A.COMPANY_CD		AS "COMPANY_CD"
				, A.ADV_CD		 	AS "ADV_CD"
				, A.ADV_NM		 	AS "ADV_NM"
				, A.AM		 		AS "AM"
				, A.ADV_MONTH		AS "ADV_MONTH"
				, A.BOX_YN		 	AS "BOX_YN"
				, A.BOX_NUM			AS "BOX_NUM"
				, A.INSERT_ID		AS "INSERT_ID"
				, A.INSERT_DTS		AS "INSERT_DTS"
				, A.UPDATE_ID		AS "UPDATE_ID"
				, A.UPDATE_DTS		AS "UPDATE_DTS"
		FROM ES_BLURB_MASTER A
		WHERE A.COMPANY_CD = #{COMPANY_CD}
		<if test=' KEYWORD != null and KEYWORD != ""'>
			AND
			(  A.ADV_CD LIKE  '%' || #{KEYWORD} || '%'
			OR A.ADV_NM LIKE  '%' || #{KEYWORD} || '%'
			)
		</if>
	</select>

	<select id="HELP_CATEGORY" resultType="hashmap" parameterType="hashmap" statementType="CALLABLE">
		/*CommonHelpMapper.HELP_CATEGORY*/
		SELECT    A.COMPANY_CD AS "COMPANY_CD"
				, A.CATEGORY_CD AS "CATEGORY_CD"
				, A.CATEGORY_NM AS "CATEGORY_NM"
				, A.PARENT_CD AS "PARENT_CD"
		FROM ES_CATEGORY A
		WHERE 1=1
		  AND A.COMPANY_CD = #{COMPANY_CD}
		  AND A.PARENT_CD = #{PARENT_CD}
		  AND A.USE_YN = 'Y'
		<if test=' KEYWORD != null and KEYWORD != ""'>
			AND
			(  A.CATEGORY_CD LIKE  '%' || #{KEYWORD} || '%'
			OR A.CATEGORY_NM LIKE  '%' || #{KEYWORD} || '%'
			)
		</if>
	</select>


</mapper>