<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ensys.qray.web.v1.notice01.WebNotice01Mapper">

	<select id="select" resultType="hashmap" parameterType="hashmap" statementType="CALLABLE">
		/*WebNotice01Mapper.select*/
		SELECT
				COMPANY_CD AS "COMPANY_CD"
			,	BOARD_TYPE AS "BOARD_TYPE"
			,	SEQ AS "SEQ"
            ,	TITLE AS "TITLE"
            ,	BOARD_ST AS "BOARD_ST"
            ,	CONTENTS AS "CONTENTS"
            ,	MAIN_YN AS "MAIN_YN"
		FROM ES_BOARD
		WHERE COMPANY_CD = #{COMPANY_CD}
		<if test='KEYWORD != null and KEYWORD != ""'>
			AND    (
			TITLE    LIKE  '%' || #{KEYWORD} || '%'
			OR CONTENTS    LIKE  '%' || #{KEYWORD} || '%'
			)
		</if>
		<if test='BOARD_TYPE != null and BOARD_TYPE != ""'>
			AND   BOARD_TYPE  = #{BOARD_TYPE}
		</if>
		<if test='SEQ != null and SEQ != ""'>
			AND   SEQ  = #{SEQ}
		</if>
		ORDER BY SEQ
	</select>

	<insert id="insert" parameterType="hashmap" statementType="CALLABLE">
		INSERT INTO ES_BOARD
		(
		  COMPANY_CD
		, BOARD_TYPE
		, SEQ
		, TITLE
		, CONTENTS
		, HIT
		, MAIN_YN
		, BOARD_ST
		, INSERT_ID
		, INSERT_DTS
		, UPDATE_ID
		, UPDATE_DTS
		)
		VALUES
		(
		  #{COMPANY_CD}
		, #{BOARD_TYPE}
		, (SELECT COALESCE(MAX(SEQ), 0) + 1
		   FROM ES_BOARD
		   WHERE COMPANY_CD = #{COMPANY_CD}
		)
		, #{TITLE}
		, #{CONTENTS}
		, 0
		, #{MAIN_YN}
		, #{BOARD_ST}
		, #{INSERT_ID}
		, #{INSERT_DTS}
		, #{UPDATE_ID}
		, #{UPDATE_DTS}
		)
	</insert>

	<update id="update" parameterType="hashmap" statementType="CALLABLE">
		UPDATE ES_BOARD
		SET TITLE      =   #{TITLE}
		  ,	CONTENTS   =   #{CONTENTS}
		  ,	MAIN_YN   =   #{MAIN_YN}
		  ,	BOARD_ST   =   #{BOARD_ST}
		  ,	BOARD_TYPE   =   #{BOARD_TYPE}
		  ,	UPDATE_ID  =   #{UPDATE_ID}
		  ,	UPDATE_DTS =   #{UPDATE_DTS}
		WHERE COMPANY_CD = #{COMPANY_CD}
		  AND   BOARD_TYPE = #{BOARD_TYPE}
		  AND   SEQ        = #{SEQ}
	</update>

	<delete id="delete" parameterType="hashmap" statementType="CALLABLE">
		DELETE FROM ES_BOARD
		WHERE COMPANY_CD = #{COMPANY_CD}
		  AND   SEQ        = #{SEQ}
	</delete>

</mapper>