@charset "utf-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/* default */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; outline: 0; font:inherit; vertical-align:baseline; -o-box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {display:block;}
audio, canvas, video {display:inline-block;}
html, body {height: 100%; overflow: hidden;}
body {font: 400 12px 'NanumSquareRoundR', sans-serif; color: #333; background-color: #fff; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-text-size-adjust: none;}
ol, ul, li, dl, dt, dd {list-style:none}
img, video {max-width: 100%; vertical-align: top;}
a, select, input, a:focus, input:focus, textarea:focus {outline: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent;}
input, textarea,select, i, em, cite, address {font-style:normal; font-weight:normal;}
a, a:hover, a:link, a:visited, a:active, a:focus {text-decoration:none;}
a {color: #333;}
a:hover {color: #333;}
b, strong {font-weight: bold;}
table {border-collapse: collapse; border-spacing: 0; border: 0 none; width: 100%;}
mark {background-color: transparent; color: inherit;}
caption, th, td {text-align: left; font-weight: normal;}
.hidden, legend, hr, caption {display: block; overflow: hidden; position: absolute; top: 0; left: -1000em; width: 1px; height: 1px; font-size: 0; line-height: 0;}
label, input, select, textarea {vertical-align: middle;}
button, input, select, textarea {margin: 0;}
button, input {line-height: normal;}
button, select {text-transform: none;}
input::-moz-focus-inner {border:0; padding:0;}
input, select, textarea {-moz-appearance:none; -webkit-appearance:none;	-ms-appearance:none; appearance:none;}
input::placeholder, textarea::placeholder {color: #D7D7D7; opacity: 1;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #D7D7D7;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #D7D7D7;}
input:-mos-input-placeholder, textarea:-mos-input-placeholder {color: #D7D7D7;}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {color: transparent;}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {color: transparent;}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder  {color: transparent;}
input:focus::-ms-input-placeholder, textarea:focus::-ms-input-placeholder {color: transparent;}
button {border: 0; outline: 0; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; cursor: pointer;}
input, textarea {-moz-appearance: none; -webkit-appearance: none; -ms-appearance: none; appearance: none; color:inherit; outline: 0; text-decoration: none; -o-box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
textarea {resize: none;}


/* components: btn */
a.btnBlue {width: 100px; min-width: 100px; height: 27px; color: #fff; border: 1px solid #5e71b7; background-color: #5e71b8; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; display: flex; align-items: center; justify-content: center; overflow: hidden;}
a.type1:after {content: url("/assets/images/common/btn_icon_arrow.png"); margin: 0 0 0 3px;}

a.btnGrey {width: 80px; min-width: 80px; height: 24px; border: 1px solid #ababab; background-color: #f1f1f1; display: flex; align-items: center; justify-content: center; overflow: hidden;}
a.btn_add:before {content: url("/assets/images/common/btn_icon_add.png");}
a.btn_del:before {content: url("/assets/images/common/btn_icon_subtract.png"); margin-bottom: 8px;}
a.btn_add:before, a.btn_del:before {margin-right: 3px;}

/* components: table */
table.tab_type1, table.tab_type2 {border-top: 2px solid #494949; border-bottom: 1px solid #494949; background-color: #fff;}
table.tab_type1 tr, table.tab_type2 tr {border: 1px solid #dfdfdf; border-width: 1px 0 0; height: 30px;}
table.tab_type1 th {font-weight: 700; font-size: 13px; text-align: center; background-color: #f7f8fa; border: 1px solid #dfdfdf; border-top-width: 0; border-bottom-width: 0;}
table.tab_type1 tr th:first-child {border-left-width: 0;} 
table.tab_type1 td {word-break: break-all; padding: 0 0 0 10px;}
table th, table td {word-wrap: break-word; vertical-align: middle;}

table.tab_type2 th {font-weight: 700; font-size: 13px; text-align: center; background-color: #f7f8fa;} 
table.tab_type2 td {text-align: center;}