<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ensys.qray.web.v2.community.V2CommunityMapper">

    <select id="list" resultType="hashmap" parameterType="hashmap">
        /*V2CommunityMapper.list*/
        SELECT    SEQ               AS "SEQ"
                , SUBSTRING(TITLE, 1, 50)             AS "TITLE"
                , ROW_NUMBER() OVER (ORDER BY INSERT_DTS) AS "COMM_NUM"
                , F_ES_CODE_DETAIL(COMPANY_CD, 'ES_Q0138', COMMUNITY_TP) AS "COMMUNITY_TP"
                , SUBSTRING(NAME, 1, 1) || 'OO' AS "NAME"
                , TO_CHAR(SUBSTRING(UPDATE_DTS, 1, 8)::DATE, 'YYYY-MM-DD HH:DD') AS "DTS"
                , (SELECT COUNT(*) FROM PL_DM_COMM WHERE DM_CD = SEQ) AS "COMM_CUT"
                , CASE WHEN HIT BETWEEN 0 AND 999 THEN HIT::VARCHAR ELSE '999↑' END AS "HIT"
                , CASE WHEN CURRENT_DATE - TO_DATE(SUBSTRING(REPLACE(INSERT_DTS, '-', ''), 1, 8), 'YYYYMMDD') > F_NVL_NUM(B.SYSDEF_CD::INTEGER, 7) THEN 'N' ELSE 'Y' END AS "NEW_VALUE"
        FROM ES_COMMUNITY
        LEFT JOIN (SELECT SYSDEF_CD FROM ES_CODEDTL WHERE FIELD_CD = 'ES_Q0141' AND FLAG1_CD = 'Y' LIMIT 1) B
        ON 1 = 1
        WHERE  COMPANY_CD = #{COMPANY_CD}
        AND COMMUNITY_GB = '02'
        AND COMMUNITY_ST = #{COMMUNITY_ST} --14(커뮤니티) / 15(고객센터) ES_Q0137
        AND COMMUNITY_TP = #{COMMUNITY_TP} -- 04 삭제요청 / 07 단도박 / 08 자유게시판 ES_Q0138 나중에 03(커뮤니티)를 08로 바꿔야할듯? ES_Q0138
        ORDER BY INSERT_DTS DESC
        LIMIT 15 OFFSET <!--#{MORE_BTN_COUNT}::INTEGER-->1 * 15
    </select>

</mapper>