<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ensys.qray.web.v2.community.V2CommunityMapper">

    <select id="listCount" resultType="int" parameterType="hashmap">
        /*V2CommunityMapper.listCount*/
        SELECT    COUNT(*)
        FROM ES_COMMUNITY
        WHERE  COMPANY_CD = #{COMPANY_CD}
        AND COMMUNITY_GB = '02'
        AND COMMUNITY_ST = #{COMMUNITY_ST} --14(커뮤니티) / 15(고객센터) ES_Q0137
        AND COMMUNITY_TP = #{COMMUNITY_TP} -- 04 삭제요청 / 07 단도박 / 08 자유게시판 ES_Q0138 나중에 03(커뮤니티)를 08로 바꿔야할듯 ES_Q0138
    </select>

    <select id="list" resultType="hashmap" parameterType="hashmap">
        /*V2CommunityMapper.list*/
        SELECT    SEQ               AS "SEQ"
                , SUBSTRING(TITLE, 1, 50)             AS "TITLE"
                , ROW_NUMBER() OVER (ORDER BY INSERT_DTS) AS "COMM_NUM"
                , F_ES_CODE_DETAIL(COMPANY_CD, 'ES_Q0138', COMMUNITY_TP) AS "COMMUNITY_TP"
                , F_NVL_TEXT(SUBSTRING(NAME, 1, 3), '무명') AS "NAME"
                , TO_CHAR(SUBSTRING(INSERT_DTS, 1, 8)::DATE, 'YYYY-MM-DD HH:DD') AS "DTS"
                , (SELECT COUNT(*) FROM PL_DM_COMM WHERE DM_CD = SEQ) AS "COMM_CUT"
                , CASE WHEN HIT BETWEEN 0 AND 999 THEN HIT::VARCHAR ELSE '999↑' END AS "HIT"
                , CASE WHEN CURRENT_DATE - TO_DATE(SUBSTRING(REPLACE(INSERT_DTS, '-', ''), 1, 8), 'YYYYMMDD') > F_NVL_NUM(B.SYSDEF_CD::INTEGER, 7) THEN 'N' ELSE 'Y' END AS "NEW_VALUE"
        FROM ES_COMMUNITY
        LEFT JOIN (SELECT SYSDEF_CD FROM ES_CODEDTL WHERE FIELD_CD = 'ES_Q0141' AND FLAG1_CD = 'Y' LIMIT 1) B
        ON 1 = 1
        WHERE  COMPANY_CD = #{COMPANY_CD}
        AND COMMUNITY_GB = '02'
        AND COMMUNITY_ST = #{COMMUNITY_ST} --14(커뮤니티) / 15(고객센터) ES_Q0137
        AND COMMUNITY_TP = #{COMMUNITY_TP} -- 04 삭제요청 / 07 단도박 / 08 자유게시판 ES_Q0138 나중에 03(커뮤니티)를 08로 바꿔야할듯? ES_Q0138
        ORDER BY INSERT_DTS DESC
        LIMIT 15 OFFSET (#{CURRENT_PAGE}::INTEGER - 1) * 15
    </select>

    <select id="detail" resultType="hashmap" parameterType="hashmap">
        /*V2CommunityMapper.detail*/
        SELECT    SEQ       AS "SEQ"
                , TITLE     AS "TITLE"
                , CONTENTS  AS "CONTENTS"
                , NAME AS "NAME"
                , TO_CHAR(TO_TIMESTAMP(INSERT_DTS, 'YYYYMMDDHH24MISS'), 'YYYY-MM-DD') AS "INSERT_DTS"
                , CASE WHEN COALESCE(HIT, 0) BETWEEN 0 AND 999 THEN COALESCE(HIT, 0)::VARCHAR ELSE '999↑' END AS "HIT"
        FROM ES_COMMUNITY
        WHERE COMPANY_CD = #{COMPANY_CD}
        AND SEQ = #{SEQ}
    </select>

    <insert id="create" parameterType="hashmap">
        /*V2CommunityMapper.create*/
        INSERT INTO ES_COMMUNITY (
              COMPANY_CD
            , SEQ
            , NAME
            , COMMUNITY_TP
            , COMMUNITY_ST
            , TITLE
            , CONTENTS
            , HIT
            , INSERT_ID
            , INSERT_DTS
            , COMMUNITY_GB
            , PW
        ) VALUES (
              #{COMPANY_CD}
            , #{SEQ}
            , #{NAME} --param
            , #{COMMUNITY_TP} --param
            , #{COMMUNITY_ST} --param
            , #{TITLE} --param
            , #{CONTENTS} --param
            , 0
            , #{INSERT_ID}
            , #{INSERT_DTS}
            , F_NVL_TEXT(#{COMMUNITY_GB}, '02')
            , #{PW} --param
       )
    </insert>

    <select id="detailLinks" resultType="hashmap" parameterType="hashmap">
        /*V2CommunityMapper.detailLinks*/
        SELECT    COMMUNITY_SEQ AS "COMMUNITY_SEQ"
                , SEQ AS "SEQ"
                , CASE
                    WHEN LINK LIKE 'http%' THEN LINK
                    ELSE 'https://' || LINK
                END AS "LINK"
        FROM ES_COMMUNITY_LINK
        WHERE COMPANY_CD = #{COMPANY_CD}
          AND COMMUNITY_SEQ = #{SEQ}
        ORDER BY SEQ
    </select>

    <insert id="createLink" parameterType="hashmap">
    /*V2CommunityMapper.createLink*/
        <if test="LINK_ARR != null and LINK_ARR != ''">
            <foreach item="link" index="idx" collection='LINK_ARR.split(",")' separator=";">
                <if test="link != null and link.trim() != ''">
                    INSERT INTO ES_COMMUNITY_LINK (
                          COMPANY_CD
                        , COMMUNITY_SEQ
                        , SEQ
                        , LINK
                        , INSERT_ID
                        , INSERT_DTS
                    ) VALUES (
                          #{COMPANY_CD}
                        , #{SEQ}
                        , #{idx} + 1
                        , #{link}
                        , #{INSERT_ID}
                        , #{INSERT_DTS}
                    )
                </if>
            </foreach>
        </if>
    </insert>

    <insert id="insertEsCommunityHit" parameterType="hashmap">
        /*V2CommunityMapper.insertEsCommunityHit*/
        INSERT INTO ES_COMMUNITY_HIT
        (COMPANY_CD, SEQ, IP)
        VALUES
        (#{COMPANY_CD}, #{SEQ}, #{IP})
        ON CONFLICT (COMPANY_CD, SEQ, IP) DO NOTHING
    </insert>

    <update id="hitPlus" parameterType="hashmap">
        /*V2CommunityMapper.hitPlus*/
        UPDATE ES_COMMUNITY
        SET   HIT = (SELECT COALESCE(HIT, 0) + 1 FROM ES_COMMUNITY WHERE COMPANY_CD = #{COMPANY_CD} AND SEQ = #{SEQ})
        WHERE  COMPANY_CD    = #{COMPANY_CD}
        AND    SEQ = #{SEQ}
    </update>

	<insert id="createComment" parameterType="hashmap">
		/*V2CommunityMapper.createComment*/
		INSERT INTO PL_DM_COMM (
			  DM_CD
			, COMM_CD
			, PARENT_CD
			, NICK_NM
			, PASSWORD
			, CONTENTS
			, USE_YN
			, REPORT_YN
			, WRITE_DATE
			, WRITE_IP
			, INSERT_DATE
		)VALUES(
			  #{SEQ}
			, #{COMM_CD}
			, #{PARENT_CD}
			, #{NICK_NM}
			, #{PASSWORD}
			, #{CONTENTS}
			, 'Y'
			, #{REPORT_YN}
			, #{WRITE_DATE}
			, #{WRITE_IP}
			, #{INSERT_DATE}
		)
	</insert>

    <!--<delete id="deleteComment" parameterType="hashmap">
        /*V2CommunityMapper.deleteComment*/
        DELETE FROM PL_DM_COMM
        WHERE DM_CD = #{SEQ}
        AND COMM_CD = #{COMM_CD}
    </delete>-->

    <select id="comments" resultType="hashmap" parameterType="hashmap" statementType="CALLABLE">
        /*V2CommunityMapper.comments*/
        SELECT    A.DM_CD          AS "DM_CD"
                , A.COMM_CD        AS "COMM_CD"
                , A.PARENT_CD      AS "PARENT_CD"
                , A.NICK_NM        AS "NICK_NM"
                , A.CONTENTS       AS "CONTENTS"
                , A.USE_YN         AS "USE_YN"
                , A.REPORT_YN      AS "REPORT_YN"
                , A.WRITE_DATE     AS "WRITE_DATE"
                , CASE WHEN
                    CURRENT_DATE - TO_DATE(SUBSTRING(REPLACE(A.WRITE_DATE, '-', ''), 1, 8), 'YYYYMMDD') > F_NVL_NUM(B.SYSDEF_CD::INTEGER, 7) THEN 'N'
                    ELSE 'Y'
                END AS "NEW_VALUE"
        FROM PL_DM_COMM A
        LEFT JOIN (SELECT SYSDEF_CD FROM ES_CODEDTL WHERE FIELD_CD = 'ES_Q0141' AND FLAG1_CD = 'Y' LIMIT 1) B
            ON 1 = 1
        WHERE DM_CD = #{SEQ}
    </select>
</mapper>
