<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ensys.qray.web.api.apiMapper">

    <select id="partnerDetail" resultType="hashmap" parameterType="hashmap" statementType="CALLABLE">
        /*apiMapper.partnerDetail*/
        SELECT A.PARTNER_NM AS "PARTNER_NM"
             , FORMAT('%s-%s-%s', SUBSTRING(A.COMPANY_NO FROM 1 FOR 3), SUBSTRING(A.COMPANY_NO FROM 4 FOR 2), SUBSTRING(A.COMPANY_NO FROM 6)) AS "COMPANY_NO"
             , B.E_MAIL AS "E_MAIL"
             , B.TEL_NO AS "TEL_NO"
             , A.YOUTUBE_LINK AS "YOUTUBE_LINK"
             , A.TELEGRAM AS "TELEGRAM"
             , A.KAKAOTALK AS "KAKAOTALK"
             , A.PARTNER_TP AS "PARTNER_TP"
             , A.HOME_PAGE AS "HOME_PAGE"
             , A.COMPANY_INTRO AS "COMPANY_INTRO"
             , F_ES_CATEGORY_NM(A.COMPANY_CD, A.JOB_FIELD) AS "JOB_FIELD"
             , F_ES_CATEGORY_NM(A.COMPANY_CD, A.JOB_EP) AS "JOB_EP"
             , F_ES_CATEGORY_NM(A.COMPANY_CD, A.JOB_ZONE) AS "JOB_ZONE"
             , A.ITEM_INTRO AS "ITEM_INTRO"
        FROM ES_PARTNER A
        LEFT JOIN ES_PARTNER_PTR B
        ON A.COMPANY_CD = B.COMPANY_CD
        AND A.PARTNER_CD = B.PARTNER_CD
        AND B.MAIN_YN = 'Y'
        WHERE A.COMPANY_CD = #{COMPANY_CD}
          AND A.PARTNER_CD = #{PARTNER_CD}
    </select>

    <select id="blurbMasterSelect" resultType="hashmap" parameterType="hashmap" statementType="CALLABLE">
        /*apiMapper.blurbMasterSelect*/
        SELECT    adv_cd
                , adv_nm
                , am
                , adv_month
                , box_yn
                , box_num
        FROM ES_BLURB_MASTER
        WHERE COMPANY_CD = #{COMPANY_CD}
          AND ADV_CD = #{ADV_CD}
    </select>

    <select id="partnerImg" resultType="hashmap" parameterType="hashmap" statementType="CALLABLE">
        /*apiMapper.partnerImg*/
        SELECT  CONCAT(#{IMG_URL}, FILE_NAME, '.', FILE_EXT) AS img_url
              , MAIN_YN AS main_yn
        FROM ES_FILE
        WHERE COMPANY_CD = #{COMPANY_CD}
          AND TABLE_ID = 'partner'
          AND TABLE_KEY = #{PARTNER_CD}
    </select>

    <select id="partnerBlurbList" resultType="hashmap" parameterType="hashmap" statementType="CALLABLE">
        /*apiMapper.partnerBlurbList*/
        SELECT    c.partner_cd
                , c.partner_nm
                , c.company_intro
                , c.youtube_link
                , d.tel_no
                , concat(#{IMG_URL},e.file_name,'.',e.file_ext) as img_url
        FROM ES_CONTRACT_PACKAGE A
        LEFT JOIN ES_CONTRACT B
        ON A.COMPANY_CD = B.COMPANY_CD
        AND A.CONTRACT_CD = B.CONTRACT_CD
        LEFT JOIN ES_PARTNER C
        ON B.COMPANY_CD = B.COMPANY_CD
        AND B.PARTNER_CD = C.PARTNER_CD
        LEFT JOIN ES_PARTNER_PTR D
        ON C.COMPANY_CD = D.COMPANY_CD
        AND C.PARTNER_CD = D.PARTNER_CD
        AND D.MAIN_YN = 'Y'
        LEFT JOIN ES_FILE E
        ON C.COMPANY_CD = E.COMPANY_CD
        AND C.PARTNER_CD = E.TABLE_KEY
        AND E.TABLE_ID = 'partner'
        AND E.MAIN_YN = 'Y'
        WHERE B.COMPANY_CD = #{COMPANY_CD}
        AND B.CONTRACT_ST = '02'
        AND TO_DATE(TO_CHAR(CURRENT_DATE, 'YYYYMMDD'), 'YYYYMMDD') BETWEEN TO_DATE(B.CONTRACT_START_DT, 'YYYYMMDD') AND TO_DATE(B.CONTRACT_END_DT, 'YYYYMMDD')
        AND A.PKG_CD IN (
        SELECT PKG_CD FROM ES_BLURB_PKG_D WHERE COMPANY_CD =  #{COMPANY_CD} AND ADV_CD = #{ADV_CD} /*광고코드파라미터*/
        )
        ORDER BY RANDOM();
    </select>

</mapper>